<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header1.ejs') %>
  <link rel="stylesheet" href="/public/css/admin.css" />
</head>
<body>
  <header>
    <%- include('../partials/navbar-admin.ejs') %>
  </header>
  
  <div class="admin-container">
      <!-- Sidebar -->
      <nav class="sidebar">
        <h2>Admin Menu</h2>
        <a href="/admin/view-users" class="menu-item">User Management</a>
        <a href="/admin/view-menu" class="menu-item">Menu Items</a>
        <a href="/admin/view-tables" class="menu-item">Table Management</a>
        <a href="/admin/view-dietary" class="menu-item">Dietary Preferences</a>
        <a href="/admin/view-faqs" class="menu-item active">FAQs</a>
        <a href="/admin/admin-report" class="menu-item">Reports</a>
      </nav>

      <!-- Main Content -->
      <section class="main-content">
        <main class="form-wrapper">
          <h1>Add an FAQ</h1>

          <form action="/admin/faqs" method="POST"> 
                      
            <div class="form-group">
              <label>Title</label>
                <input type="text" id="faqTitle" name="faqTitle" required />
            </div>

            <div class="form-group">
              <label>Detail</label>
                <textarea name="faqDetail" rows="10" cols="50" required></textarea>
            </div>

            <div class="form-group checkbox-group">
                <label class="checkbox">
                  Featured item?
                  <input type="checkbox" name="isFeatured" value="1"> 
                </label>
            </div>

            <button class="btn btn-primary">Create</button>
            <a href="/admin/view-faqs" class="btn btn-secondary">Cancel</a>
          </form>
        </main>
      </section>
    </div>
</body>
</html>