<section id="footer">
    <div class="company-info">
        <img src="/public/images/footer-logo.png" class="logo" alt="">
        <div class="social-links">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>

        <div class="download-btn-group">
            <a href="#" class="download-btn"><img src="/public/images/play-store.png" alt=""></a>
            <a href="#" class="download-btn"><img src="/public/images/app-store.png" alt=""></a>
        </div>
    </div>

    <div class="useful-links footer-links-container">
        <h5 class="footer-links-title">Useful Links</h5>
        <a href="order" class="footer-links">Your Orders</a>
        <a href="track-order" class="footer-links">Track Order</a>
        <a href="#" class="footer-links">Support</a>
    </div>

    <div class="information footer-links-container">
        <h5 class="footer-links-title">Information</h5>
        <a href="#" class="footer-links">About Us</a>
        <a href="#" class="footer-links">Privacy Policy</a>
        <a href="#" class="footer-links">Terms & Conditions</a>
        <a href="#" class="footer-links">What info we collect?</a>
    </div>

    <div class="contact footer-links-container">
        <h5 class="footer-links-title">Contact Us</h5>
        <p class="footer-text">Our main restaurant is located on 321 Swanson AKL</p>
        <p class="footer-text">Phone <a href="tel:+642101234567" class="flink">+64 2101234567</a></p>
        <p class="footer-text">Email <a href="mailto:help@currysteps.com" class="flink">help@currysteps.com</a></p>
    </div>

    <div class="payment-partners">
        <img src="/public/images/visa.png" alt="">
        <img src="/public/images/master-card.png" alt="">
        <img src="/public/images/paypal.png" alt="">
        <img src="/public/images/stripe.png" alt="">
        <img src="/public/images/apple-pay.png" alt="">
        <img src="/public/images/google-pay.png" alt="">
    </div>

    <p class="payment-partners-text">Fully secured payment gateways by trusted companies</p>

    <p class="copyright">Design by Frances Go</p>        

</section>