<nav class="navbar">
    <!--logo-->
    <a href="/"><img src="/public/images/logo.png" class="logo" alt="" /></a>

    <!--ul-->
    <ul class="links-container">
        <li class="link-items"><a href="/" class="links">Home</a></li>
        <li class="link-items"><a href="/order" class="links">Order</a></li>
        <li class="link-items"><a href="/track-order" class="links">Track Order</a></li>
    </ul>

    <!--search box-->
    <div class="nav-extras">

        <!-- optional: dark overlay -->
        <div id="overlay" style="display:none;"></div>

        <!--cart btn-->
        <a href="/customer/cart" class="cart"><i class="fa-solid fa-cart-shopping"></i><span id="cart-count" class="badge">0</span></a>

        <div class="nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>