<nav class="navbar">
    <!--logo-->
    <a href="/"><img src="/public/images/logo.png" class="logo" alt="" /></a>

    <!--ul-->
    <ul class="links-container">
        <li class="link-items"><a href="/chef/track-order" class="links">Track Orders</a></li>
        <li class="link-items"><a href="/chef/chef-report" class="links">Reports</a></li> 
    </ul>

    <!--search box-->
    <div class="nav-extras">
        <ul class="links-container">
            <li class="link-items"><a href="/logout" class="links">Logout</a></li>
        </ul>
        
        <div class="nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>