<nav class="navbar">
    <!--logo-->
    <a href="/"><img src="/public/images/logo.png" class="logo" alt="" /></a>

    <!--ul-->
    <ul class="links-container">
        <li class="link-items <%= currentRoute === 'order' ? 'active' : '' %>"><a href="/order" class="links">Order Now</a></li>
        <li class="link-items <%= currentRoute === 'track-order' ? 'active' : '' %>"><a href="/track-order" class="links">Track Order</a></li>
        <li class="link-items <%= currentRoute === 'login' ? 'active' : '' %>"><a href="/login" class="links">Login / Register</a></li>
    </ul>

    <!--search box-->
    <div class="nav-extras">
        <div class="search">
            <form action="/order-search" method="get">
                <input type="text" name="search" class="search-box" placeholder="Search Cuisine / Menu, Food..." />
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <!-- optional: dark overlay -->
        <div id="overlay" style="display:none;"></div>

        <!--cart btn-->
        <!-- <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a> -->

        <div class="nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
    </div>
</nav>