<html>
<body>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>

  <body>
    <header>
      <%- include('partials/navbar-loggedout.ejs') %>
    </header>

    <section class="login-register">
      <div class="card register-card shadow container">
        <h2 class="text-center mb-4">Forgot Password</h2>
        <% if (message) { %><p><%= message %></p><% } %>
        <form action="/forgot-password" method="POST">
          <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
            <button type="submit" class="btn w-100">Send Reset Link</button>
          </div>
        </form>

      </div>
    </section>

    <footer>
      <%- include('partials/footer1.ejs') %>
    </footer>
  </body>
</html>
