<!DOCTYPE html>
<html>
<head>
    <%- include('partials/header1.ejs') %>
</head>
<body>
    <%- include('partials/navbar-loggedout.ejs') %>
    <div class="restaurants-container">
            <div class="restaurant">
                <p class="discount">50% Off</p>
                <div class="restaurant-thumbnail">
                    <img src="public/images/restaurant-1.png" class="restaurant-img" alt="">
                </div>
                <div class="restaurant-body">
                    <h3 class="restaurant-name">Restaurant 01</h3>
                    <p class="menu">Burgers, Fries, Nuggets</p>
                    <p class="place">New York</p>
                    <p class="discount-text">50% on your first reservation</p>
                    <span class="rating">4.2<i class="fa-solid fa-star"></i></span>
                </div>
            </div>
            <div class="restaurant">
                <div class="restaurant-thumbnail">
                    <img src="public/images/restaurant-2.png" class="restaurant-img" alt="">
                </div>
                <div class="restaurant-body">
                    <h3 class="restaurant-name">Restaurant 02</h3>
                    <p class="menu">Pasta, Pizza, Spaghetti..</p>
                    <p class="place">Italy</p>
                    <span class="rating">4.2<i class="fa-solid fa-star"></i></span>
                </div>
            </div>
            <div class="restaurant">
                <p class="discount">50% Off</p>
                <div class="restaurant-thumbnail">
                    <img src="public/images/restaurant-3.png" class="restaurant-img" alt="">
                </div>
                <div class="restaurant-body">
                    <h3 class="restaurant-name">Restaurant 03</h3>
                    <p class="menu">Burgers, Fries, Nuggets</p>
                    <p class="place">Paris</p>
                    <p class="discount-text">50% on your first reservation</p>
                    <span class="rating">4.2<i class="fa-solid fa-star"></i></span>
                </div>
            </div>
            <div class="restaurant">
                <div class="restaurant-thumbnail">
                    <img src="public/images/restaurant-4.png" class="restaurant-img" alt="">
                </div>
                <div class="restaurant-body">
                    <h3 class="restaurant-name">Restaurant 04</h3>
                    <p class="menu">Indian Cuisine</p>
                    <p class="place">New York</p>
                    <span class="rating">4.2<i class="fa-solid fa-star"></i></span>
                </div>
            </div>
            <div class="restaurant">
                <div class="restaurant-thumbnail">
                    <img src="public/images/restaurant-5.png" class="restaurant-img" alt="">
                </div>
                <div class="restaurant-body">
                    <h3 class="restaurant-name">Restaurant 05</h3>
                    <p class="menu">Chinese Cuisine, Noddles</p>
                    <p class="place">New York</p>
                    <span class="rating">4.2<i class="fa-solid fa-star"></i></span>
                </div>
            </div>
            <div class="restaurant">
                <p class="discount">50% Off</p>
                <div class="restaurant-thumbnail">
                    <img src="public/images/restaurant-6.png" class="restaurant-img" alt="">
                </div>
                <div class="restaurant-body">
                    <h3 class="restaurant-name">Restaurant 06</h3>
                    <p class="menu">Chicken Nuggets, chic...</p>
                    <p class="place">Italy</p>
                    <p class="discount-text">50% on your first reservation</p>
                    <span class="rating">4.2<i class="fa-solid fa-star"></i></span>
                </div>
            </div>
        </div>
	
	<%- include('partials/footer1.ejs') %>
</body>
</html>