<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/header1.ejs') %>
    </head>

    <body>
        <header>
            <!--navbar-->
            <%- include('partials/navbar-guest.ejs') %>
        </header>

        
        <footer>
            <%- include('partials/footer1.ejs') %>
        </footer>
    </body>
</html>